<footer>
    <div class="footertop">
        <div class="footertopleft">
            <div id="footerpicrow">
                <a href="/"><img id="fcplogo" src="~/images/indeximgs/cplogo.png" alt="logo"></a>
                <a href="/codepink/laelynn"><img id="flaelogo" src="~/images/laelynnimages/laelynnlogo.png" alt="logo"></a>
            </div>
            <p>Code Pink - the Official Store for Girls in Tech. When you get tech from us, we give tech to girls. We belive in giving girls the opportunity to aspire for a fulfilling career in tech.</p>
            <h3>Stay Connected</h3>
            <div class="footersocialicons">
                <a href="/"><img class="fsociallinks" src="~/images/laelynnimages/fblogo.png" alt=""></a>
                <a href="/"><img class="fsociallinks" src="~/images/laelynnimages/inlogo.png" alt=""></a>
                <a href="/"><img class="fsociallinks" src="~/images/laelynnimages/twlogo.png" alt=""></a>
                <a href="/"><img class="fsociallinks" src="~/images/laelynnimages/belogo.png" alt=""></a>
            </div>
        </div>
        <div class="topfootermiddle">
            <h3 class="footerlinkheader">Links</h3>
            <div class="footmiddlelinks">
                <div class="footerlinks">
                    <ul>
                        <li class="fmlinks"><a class="fmlinka" href="/">Code Pink</a></li>
                    </ul>
                    <ul>
                        <li class="fmlinks"><a class="fmlinka" href="/">Laelynn</a></li>
                    </ul>
                    <ul>
                        <li class="fmlinks"><a class="fmlinka" href="/">Contact Us</a></li>
                    </ul>
                    <ul>
                        <li class="fmlinks"><a class="fmlinka" href="/codepink/adminlogin">Admin Login</a></li>
                    </ul>
                    <ul>
                        <li class="fmlinks"><a class="fmlinka" href="/">About Us</a></li>
                    </ul>
                </div>
                <div class="footerlinks">
                    <ul>
                        <li class="fmlinks"><a class="fmlinka" href="/">Latest News</a></li>
                    </ul>
                    <ul>
                        <li class="fmlinks"><a class="fmlinka" href="/">Careers</a></li>
                    </ul>
                    <ul>
                        <li class="fmlinks"><a class="fmlinka" href="/">Portfolio</a></li>
                    </ul>
                    <ul>
                        <li class="fmlinks"><a class="fmlinka" href="/">Donate</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="topfooterright">
            <h3>Subscribe</h3>
            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
            <form class="emailform" action="#">
                <input class="femailinput" type="text" placeholder="Email Address">
                <button class="emailbutton">&#8662;</button>
            </form>
        </div>
    </div>
    <div class="footerbottom">
        <p id="Copyrightp">Copyright 2023, All Rights Reserved <span>CodePink</span></p>
        <div id="fblinkdiv">
            <a class="fblinks" href="/">Home</a>
            <a class="fblinks"  href="/">Terms</a>
            <a class="fblinks" href="/">Privacy</a>
            <a class="fblinks" href="/">Policy</a>
            <a class="fblinks" href="/">Contact</a>
        </div>
    </div>
</footer>