<nav>
    <div>
        <a href="/"><img id="logo" src="~/images/indeximgs/cplogo.png" alt="logo"></a>
    </div>
    <div class="middleofnav">
        <li>
            <a href="/codepink/laelynn">LAELYNN</a>
        </li>
        <li>
            <a href="/codepink/studentlogin">STUDENT LOGIN</a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                SHOP
            </a>
                <ul id="submenu" class="classthree">
                    <li><a href="/codepink/shop/laptops" class="dropdown-item">Laptops</a></li>
                    <li><a href="/codepink/shop/monitorsanddesktops" class="dropdown-item">Monitors & Desktops</a></li>
                    <li><a href="/codepink/shop/tablets" class="dropdown-item">iPads & Tablets</a></li>
                    <li><a href="/codepink/shop/earphones" class="dropdown-item">Earphones & Earbuds</a></li>
                    <li><a href="/codepink/shop/techaccessories" class="dropdown-item">Tech Accessories</a></li>
                    <li><a href="/codepink/shop/furniture" class="dropdown-item">Furniture</a></li>
                    <li><a href="/codepink/shop/deskaccessories" class="dropdown-item">Desk Accessories</a></li>
                </ul>
        </li>
        <li>
            <a href="/codepink/reviews">PRODUCT REVIEWS</a>
        </li>
    </div>
    <div>
        <a href="/codepink/cart"><img id="cartimg" src="~/images/navimgs/whitecart.png" alt="cart"></a>
    </div>
</nav>