<div id="body">
<main>
	<div class="camera" role="img" aria-label="White camera rotating left and right">
		<div class="camera__shadow"></div>
		<div class="camera__front"></div>
		<div class="camera__contents">
			<div class="camera__red-light"></div>
			<div class="camera__lens-shadow"></div>
			<div class="camera__lens-back"></div>
			<div class="camera__lens-ring">
				<div class="camera__lens-ring-glare1"></div>
				<div class="camera__lens-ring-glare2"></div>
				<div class="camera__lens-ring-glare3"></div>
			</div>
			<div class="camera__lens-inner">
				<div class="camera__lens-inner-glare1"></div>
				<div class="camera__lens-inner-glare2"></div>
				<div class="camera__lens-eye-shadow"></div>
				<div class="camera__lens-glare"></div>
				<div class="camera__lens-eye">
					<div class="camera__lens-eye-ring"></div>
					<div class="camera__lens-eye-inner-glare"></div>
					<div class="camera__lens-eye-center">
						<div class="camera__lens-eye-center-glare"></div>
					</div>
					<div class="camera__lens-eye-glass-color"></div>
					<div class="camera__lens-eye-glare"></div>
					<div class="camera__lens-eye-glass"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="camera camera--dark" role="img" aria-label="Black camera rotating left and right">
		<div class="camera__shadow"></div>
		<div class="camera__front"></div>
		<div class="camera__contents">
			<div class="camera__red-light"></div>
			<div class="camera__lens-shadow"></div>
			<div class="camera__lens-back"></div>
			<div class="camera__lens-ring">
				<div class="camera__lens-ring-glare1"></div>
				<div class="camera__lens-ring-glare2"></div>
				<div class="camera__lens-ring-glare3"></div>
			</div>
			<div class="camera__lens-inner">
				<div class="camera__lens-inner-glare1"></div>
				<div class="camera__lens-inner-glare2"></div>
				<div class="camera__lens-eye-shadow"></div>
				<div class="camera__lens-glare"></div>
				<div class="camera__lens-eye">
					<div class="camera__lens-eye-ring"></div>
					<div class="camera__lens-eye-inner-glare"></div>
					<div class="camera__lens-eye-center">
						<div class="camera__lens-eye-center-glare"></div>
					</div>
					<div class="camera__lens-eye-glass-color"></div>
					<div class="camera__lens-eye-glare"></div>
					<div class="camera__lens-eye-glass"></div>
				</div>
			</div>
		</div>
	</div>
</main>
</div>
