body {
    margin: auto;
}
/*****NAV!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!****/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
	margin-bottom: 40px;
	align-items: flex-start;
    background-color: #151414;
    margin-top: -1vh;

}
nav div a {
    color: white;
	font-family: 'Clash Display';
	font-weight: bold;
	text-decoration: none;
}
#cartimg {
	height: 4vh;
}
#logo {
	height: 10vh;
	width: 22vh;
}
.middleofnav {
	display: flex;
	flex-direction: row;
    height: 10vh;
    align-items: center;
}
.rightofn {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#submenu {
    /* left: 0;
    right: 0; */
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    list-style-type: none;
}
#submenu li {
    float: none;
    width: 170%;
    margin-left: -70px;
    text-align: center;
	margin-top: 3vh;
}
li:hover ul#submenu {
    opacity: 1;
    top: 50px;
    visibility: visible;
}



.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}



.header {
    text-align: center;
    font-family: 'Gilroy';
    font-size: 105px;
    line-height: 110%;
    font-weight: 900;
    text-transform: uppercase;
}


form {
    display: flex;
    flex-direction: column;
    width: 700px;

}
.form-control {
    width: 200px;
}
label {
    width: 200px;
}
.section {
    margin-bottom: 10px;
}
#Category {
    width: 200px;
}



/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }
  .footertop {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 8vh;
    width: 1500px;
    justify-content: space-between;
  }
  .footmiddlelinks {
    display: flex;
    flex-direction: row;
  }
  .footertopleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .topfootermiddle {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  .footerbottom {
    background-color: #151414;
  }
  footer p {
    width: 50vh;
    color: #878787;
    font-family: 'Clash Display';
  }
  footer h3 {
    color: white;
    font-family: 'Clash Display';
  }
  .footerlinkheader {
  margin-left: 15vh;
  font-family: 'Clash Display';
  }
  .footerbottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #footerpicrow {
    display: flex;
    flex-direction: row;
    width: 400px;
    align-items: center;
  }
  #Copyrightp {
    width: 500px;
    font-family: 'Clash Display';
    margin-left: 3vh;
    color: white;
  }
  .fmlinks {
    list-style-type: none;
    font-family: 'Clash Display';
  }
  .fmlinka {
    text-decoration: none;
    color: #878787;
    font-family: 'Clash Display';
  }
  .fblinks {
    text-decoration: none;
    color: #878787;
    font-family: 'Clash Display';
  }
  #fblinkdiv {
    margin-right: 4vh;
  }
  #fcplogo {
    width: 19vh;
    height: 11vh;
  }
  #flaelogo {
    width: 15vh;
  }
  .fsociallinks {
    height: 6vh;
  }
  .femailinput {
    height: 5vh;
  }
  .emailform {
    display: flex;
    flex-direction: row;
    height: 6vh;
  }
  .emailbutton {
    height: 100%;
    width: 5vh;
    background-color: #f654a5;
  }
  
  @font-face {
    font-family: 'Clash Display';
    src: url('https://assets.website-files.com/62a9184508598c19a1306f0c/62a9184508598c6f81306f5d_ClashDisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Clash Display';
    src: url('https://assets.website-files.com/62a9184508598c19a1306f0c/62a9184508598c2aa4306f5c_ClashDisplay-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Clash Display';
    src: url('https://assets.website-files.com/62a9184508598c19a1306f0c/62a9184508598c48b7306f73_ClashDisplay-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "PP Editorial New Variable";
    src: url("https://assets.website-files.com/63dbcb270006fb086fcc5eef/640b5cd3ce1a57e5c200fea6_PPEditorialNew-Variable.ttf")
      format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "PP Neue Montreal";
    src: url("https://assets.website-files.com/63dbcb270006fb086fcc5eef/63dbd00bdb6f38c2243257b8_PPNeueMontreal-Medium.otf")
      format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "PP Editorial New";
    src: url("https://assets.website-files.com/63dbcb270006fb086fcc5eef/63dbd00b515eef2d3da68c38_PPEditorialNew-Italic.otf")
      format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "PP Neue Montreal";
    src: url("https://assets.website-files.com/63dbcb270006fb086fcc5eef/63e64dd322b40260b55b6df1_PPNeueMontreal-Regular.otf")
      format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba4addff41de369a8b164d_Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba4addaa2fae2ff94d95c7_Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba4addd2fdf143a4cee1aa_Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba4add6169954bee375878_Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba4add460b159f899fdd7b_Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba4b108b057e4577184008_Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }