<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="/"><img id="logo" src="~/images/indeximgs/cplogo.png" alt="logo"></a>
            </div>
            <div class="middleofnav">
                <li>
                    <a href="/codepink/laelynn">LAELYNN</a>
                </li>
                @if (Context.Session.GetInt32("uid") == null)
                {
                    <li>
                        <a href="/codepink/studentlogin">STUDENT LOGIN</a>
                    </li>
                }
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                        SHOP
                    </a>
                    <ul id="submenu" class="classthree">
                        <li><a href="/codepink/shop/laptops" class="dropdown-item">Laptops</a></li>
                        <li><a href="/codepink/shop/monitorsanddesktops" class="dropdown-item">Monitors & Desktops</a>
                        </li>
                        <li><a href="/codepink/shop/tablets" class="dropdown-item">iPads & Tablets</a></li>
                        <li><a href="/codepink/shop/earphones" class="dropdown-item">Earphones & Earbuds</a></li>
                        <li><a href="/codepink/shop/techaccessories" class="dropdown-item">Tech Accessories</a></li>
                        <li><a href="/codepink/shop/furniture" class="dropdown-item">Furniture</a></li>
                        <li><a href="/codepink/shop/deskaccessories" class="dropdown-item">Desk Accessories</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/codepink/reviews">PRODUCT REVIEWS</a>
                </li>
                @if (Context.Session.GetInt32("uid") == 1)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="/">ADD PRODUCT</a>
                    </li>
                }
                @if (Context.Session.GetInt32("uid") != null)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">LOGOUT</a>
                    </li>
                }
            </div>
            <div>
                <a href="/codepink/cart"><img id="cartimg" src="~/images/navimgs/whitecart.png" alt="cart"></a>
            </div>
        </nav>
    </header>

    <main>

        <div id="ProgramsAndCourses">
            <h1 class="pandch">PROGRAMS & COURSES</h1>
            <div class="coursescontainer">
                <ul id="cards">
                    <li class="card" id="card1">
                        <div class="card-body">
                            <img src="~/images/laelynnimages/sd.png" alt="pic">
                            <div class="rightofcdiv">
                                <h2>SOFTWARE DEVELOPMENT</h2>
                                <p>Become a full stack developer. Love math, logic, or figuring things out? This is the
                                    way to
                                    go.</p>
                                <p>Pretium nunc blandit felis ut sed. Commodo tortor gravida sodales eget. A a feugiat
                                    vel nulla
                                    quam ac. Orci lectus ornare mi quisque. Id id quis eu orci, nam arcu sapien amet
                                    bibendum id
                                    cursus rhoncus etiam urna a consequat mauris sit urna dui tempor ipsum vulputate
                                    molestie
                                    sit urna fringilla pellentesque rhoncus at egestas et id ultrices sollicitudin
                                    interdum at
                                    massa dolo vitae enim.</p>
                                <p>We offer virtual and in-person classes on the following languages-</p>
                                <ul class="courseul">
                                    <div class="coursebullets">
                                        <li>C#</li>
                                        <li>C++</li>
                                        <li>Python</li>
                                        <li>Java</li>
                                    </div>
                                    <div class="coursebullets">
                                        <li>PHP</li>
                                        <li>MERN</li>
                                        <li>JavaScript</li>
                                        <li>SQL</li>
                                    </div>
                                </ul>
                                <button class="learnbutton">Learn More</button>
                            </div>
                        </div>
                    </li>
                    <li class="card" id="card2">
                        <div class="card-body">
                            <img src="~/images/laelynnimages/web.png" alt="">
                            <div class="rightofcdiv">
                                <h2>WEB DEVELOPMENT</h2>
                                <p>Become a front end developer. Love designing and creating things, but want to code as
                                    well?
                                    This is the way to go.</p>
                                <p>Pretium nunc blandit felis ut sed. Commodo tortor gravida sodales eget. A a feugiat
                                    vel nulla
                                    quam ac. Orci lectus ornare mi quisque. Id id quis eu orci, nam arcu sapien amet
                                    bibendum id
                                    cursus rhoncus etiam urna a consequat mauris sit urna dui tempor ipsum vulputate
                                    molestie
                                    sit urna fringilla pellentesque rhoncus at egestas et id ultrices sollicitudin
                                    interdum at
                                    massa dolo vitae enim.</p>
                                <p>We offer virtual and in-person classes on the following skills-</p>
                                <ul class="courseul">
                                    <div class="coursebullets">
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>JavaScript</li>
                                        <li>SASS</li>
                                    </div>
                                    <div class="coursebullets">
                                        <li>SWIFT</li>
                                        <li>React</li>
                                        <li>WEBFLOW</li>
                                    </div>
                                </ul>
                                <button class="learnbutton">Learn More</button>
                            </div>
                        </div>
                    </li>
                    <li class="card" id="card3">
                        <div class="card-body">
                            <img src="~/images/laelynnimages/ui.png" alt="">
                            <div class="rightofcdiv">
                                <h2>UI/UX DESIGN</h2>
                                <p>Want to learn how to design websites? Are you into making things pretty, but not into
                                    the
                                    technical aspect of things? This is the way to go.</p>
                                <p>Pretium nunc blandit felis ut sed. Commodo tortor gravida sodales eget. A a feugiat
                                    vel nulla
                                    quam ac. Orci lectus ornare mi quisque. Id id quis eu orci, nam arcu sapien amet
                                    bibendum id
                                    cursus rhoncus etiam urna a consequat mauris sit urna dui tempor ipsum vulputate
                                    molestie
                                    sit urna fringilla pellentesque rhoncus at egestas et id ultrices sollicitudin
                                    interdum at
                                    massa dolo vitae enim.</p>
                                <p>We offer virtual and in-person classes on the following skills-</p>
                                <ul class="courseul">
                                    <div class="coursebullets">
                                        <li>Sketch</li>
                                        <li>InVision Studio</li>
                                        <li>Adobe XD</li>
                                        <li>Webflow</li>
                                    </div>
                                    <div class="coursebullets">
                                        <li>Figma</li>
                                        <li>Axure</li>
                                        <li>Adobe Photoshop & Illustrator</li>
                                    </div>
                                </ul>
                                <button class="learnbutton">Learn More</button>
                            </div>
                        </div>
                    </li>
                    <li class="card" id="card4">
                        <div class="card-body">
                            <img src="~/images/laelynnimages/ds.png" alt="">
                            <div class="rightofcdiv">
                                <h2>DATA SCIENCE</h2>
                                <p>Are you into data science? Are you not really interested in how things look on the
                                    front end
                                    but love the manipulation of data? Data Science is for you.</p>
                                <p>Pretium nunc blandit felis ut sed. Commodo tortor gravida sodales eget. A a feugiat
                                    vel nulla
                                    quam ac. Orci lectus ornare mi quisque. Id id quis eu orci, nam arcu sapien amet
                                    bibendum id
                                    cursus rhoncus etiam urna a consequat mauris sit urna dui tempor ipsum vulputate
                                    molestie
                                    sit urna fringilla pellentesque rhoncus at egestas et id ultrices sollicitudin
                                    interdum at
                                    massa dolo vitae enim.</p>
                                <p>We offer virtual and in-person classes on the following skills-</p>
                                <ul class="courseul">
                                    <div class="coursebullets">
                                        <li>AWS</li>
                                        <li>SQL</li>
                                        <li>Text Mining</li>
                                        <li>Blockchain</li>
                                    </div>
                                    <div class="coursebullets">
                                        <li>Internet of Things (IoT)</li>
                                    </div>
                                </ul>
                                <button class="learnbutton">Learn More</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </main>
    <footer>

    </footer>
    <h1>This is the coming soon pagee showing all the courses. This is where girls are redirected after signing up.</h1>
</body>

</html>