<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/laelynn/courses.css">
</head>

<body>
    <header>
        @* <nav>
            <div>
            <a href="/"><img id="logo" src="~/images/indeximgs/cplogo.png" alt="logo"></a>
            </div>
            <div class="middleofnav">
            <li>
            <a href="/codepink/laelynn">LAELYNN</a>
            </li>
            @if (Context.Session.GetInt32("uid") == null)
            {
            <li>
            <a href="/codepink/studentlogin">STUDENT LOGIN</a>
            </li>
            }
            <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="snavbardrop" data-toggle="dropdown">
            SHOP
            </a>
            <ul id="submenu" class="classthree">
            <li><a href="/codepink/shop/laptops" class="dropdown-item">Laptops</a></li>
            <li><a href="/codepink/shop/monitorsanddesktops" class="dropdown-item">Monitors & Desktops</a>
            </li>
            <li><a href="/codepink/shop/tablets" class="dropdown-item">iPads & Tablets</a></li>
            <li><a href="/codepink/shop/earphones" class="dropdown-item">Earphones & Earbuds</a></li>
            <li><a href="/codepink/shop/techaccessories" class="dropdown-item">Tech Accessories</a></li>
            <li><a href="/codepink/shop/furniture" class="dropdown-item">Furniture</a></li>
            <li><a href="/codepink/shop/deskaccessories" class="dropdown-item">Desk Accessories</a></li>
            </ul>
            </li>
            <li>
            <a href="/codepink/reviews">PRODUCT REVIEWS</a>
            </li>
            @if (Context.Session.GetInt32("uid") == 1)
            {
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="/">ADD PRODUCT</a>
            </li>
            }
            @if (Context.Session.GetInt32("uid") != null)
            {
            <li class="nav-item">
            <a class="nav-link" href="/logout">LOGOUT</a>
            </li>
            }
            </div>
            <div>
            <a href="/codepink/cart"><img id="cartimg" src="~/images/navimgs/whitecart.png" alt="cart"></a>
            </div>
            </nav> *@


        @await Html.PartialAsync("LaePartials/_TopNav")
    </header>

    <h1 class="h1courses">WELCOME TO YOUR DASHBOARD!</h1>
    <div class="grid-container">
        <div class="grid-item1">
            <h2 class="h2courses">Your current status:</h2>
            <div class="container">
                <div class="progress2 progress-moved">
                    <div class="progress-bar2">
                    </div>
                </div>
                <div class="row">
                    <h1 class="numbers">128</h1>
                    <h6 class="h6courses">: days in training</h6>
                </div>
                <div class="row">
                    <h1 class="numbers">30</h1>
                    <h6 class="h6courses">: completed courses</h6>
                </div>

            </div>
        </div>
        <div class="grid-item2">
            <h2 class="register">
                YOUR REGISTERED COURSES:
            </h2>
            <div class="regcourses">
                <h4 class="h4courses">~ Intro to Java</h4>
                <h4 class="h4courses">~ How to Get with Git</h4>
                <h4 class="h4courses">~ Terminal Commands</h4>
                <h4 class="h4courses">~ Fundamentals Crash Course</h4>
            </div>

        </div>
        <div class="grid-item3">
            <h4 class="schedule">TODAY'S SCHEDULE</h4>
            <hr>
            <div class="coursebox">
                <h6 class="time">12PM</h6>
                <h6 class="thecourse">HTML/CSS playground</h6>
            </div>
            <hr>
            <div class="coursebox">
                <h6 class="time">2PM</h6>
                <h6 class="thecourse">Algos, algos, algos!</h6>
            </div>
            <hr>
            <div class="coursebox">
                <h6 class="time">4PM</h6>
                <h6 class="thecourse">Tips & Tricks to Coding Mastery</h6>

            </div>
            <hr>
            <div class="coursebox">
                <h6 class="time">6PM</h6>
                <h6 class="thecourse">Time Management & Other Skills</h6>
            </div>
        </div>
        @* <div class="grid-item2">4</div> *@
        @* <div class="grid-item1">5</div> *@
        @* <div class="grid-item2">6</div> *@
        <div class="grid-item5">
            <img class="girl" src="https://www.codelikeagirl.com/Assets/CLG/img/CLG_Logo.png">
        </div>
        <div class="grid-item4">
            <div id="ProgramsAndCourses">
                <h1 class="h1courses">Available Programs & Courses</h1>
                <div class="coursescontainer">
                    <ul id="cards">
                        <li class="card" id="card1">
                            <div class="card-body">
                                <img src="~/images/laelynnimages/sd.png" alt="pic">
                                <div class="rightofcdiv">
                                    <h2 class="coursetitle">SOFTWARE DEVELOPMENT</h2>
                                    <p>Become a full stack developer. Love math, logic, or figuring things out? This is
                                        the way to
                                        go.</p>
                                    <p>Pretium nunc blandit felis ut sed. Commodo tortor gravida sodales eget. A a
                                        feugiat vel nulla
                                        quam ac. Orci lectus ornare mi quisque. Id id quis eu orci, nam arcu sapien amet
                                        bibendum id
                                        cursus rhoncus etiam urna a consequat mauris sit urna dui tempor ipsum vulputate
                                        molestie
                                        sit urna fringilla pellentesque rhoncus at egestas et id ultrices sollicitudin
                                        interdum at
                                        massa dolo vitae enim.</p>
                                    <p>We offer virtual and in-person classes on the following languages-</p>
                                    <ul class="courseul">
                                        <div class="coursebullets">
                                            <li>C#</li>
                                            <li>C++</li>
                                            <li>Python</li>
                                            <li>Java</li>
                                        </div>
                                        <div class="coursebullets">
                                            <li>PHP</li>
                                            <li>MERN</li>
                                            <li>JavaScript</li>
                                            <li>SQL</li>
                                        </div>
                                    </ul>
                                    <button class="learnbutton">Learn More</button>
                                </div>
                            </div>
                        </li>
                        <li class="card" id="card2">
                            <div class="card-body">
                                <img src="~/images/laelynnimages/web.png" alt="">
                                <div class="rightofcdiv">
                                    <h2 class="coursetitle">WEB DEVELOPMENT</h2>
                                    <p>Become a front end developer. Love designing and creating things, but want to
                                        code as well?
                                        This is the way to go.</p>
                                    <p>Pretium nunc blandit felis ut sed. Commodo tortor gravida sodales eget. A a
                                        feugiat vel nulla
                                        quam ac. Orci lectus ornare mi quisque. Id id quis eu orci, nam arcu sapien amet
                                        bibendum id
                                        cursus rhoncus etiam urna a consequat mauris sit urna dui tempor ipsum vulputate
                                        molestie
                                        sit urna fringilla pellentesque rhoncus at egestas et id ultrices sollicitudin
                                        interdum at
                                        massa dolo vitae enim.</p>
                                    <p>We offer virtual and in-person classes on the following skills-</p>
                                    <ul class="courseul">
                                        <div class="coursebullets">
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>JavaScript</li>
                                            <li>SASS</li>
                                        </div>
                                        <div class="coursebullets">
                                            <li>SWIFT</li>
                                            <li>React</li>
                                            <li>WEBFLOW</li>
                                        </div>
                                    </ul>
                                    <button class="learnbutton">Learn More</button>
                                </div>
                            </div>
                        </li>
                        <li class="card" id="card3">
                            <div class="card-body">
                                <img src="~/images/laelynnimages/ui.png" alt="">
                                <div class="rightofcdiv">
                                    <h2 class="coursetitle">UI/UX DESIGN</h2>
                                    <p>Want to learn how to design websites? Are you into making things pretty, but not
                                        into the
                                        technical aspect of things? This is the way to go.</p>
                                    <p>Pretium nunc blandit felis ut sed. Commodo tortor gravida sodales eget. A a
                                        feugiat vel nulla
                                        quam ac. Orci lectus ornare mi quisque. Id id quis eu orci, nam arcu sapien amet
                                        bibendum id
                                        cursus rhoncus etiam urna a consequat mauris sit urna dui tempor ipsum vulputate
                                        molestie
                                        sit urna fringilla pellentesque rhoncus at egestas et id ultrices sollicitudin
                                        interdum at
                                        massa dolo vitae enim.</p>
                                    <p>We offer virtual and in-person classes on the following skills-</p>
                                    <ul class="courseul">
                                        <div class="coursebullets">
                                            <li>Sketch</li>
                                            <li>InVision Studio</li>
                                            <li>Adobe XD</li>
                                            <li>Webflow</li>
                                        </div>
                                        <div class="coursebullets">
                                            <li>Figma</li>
                                            <li>Axure</li>
                                            <li>Adobe Photoshop & Illustrator</li>
                                        </div>
                                    </ul>
                                    <button class="learnbutton">Learn More</button>
                                </div>
                            </div>
                        </li>
                        <li class="card" id="card4">
                            <div class="card-body">
                                <img src="~/images/laelynnimages/ds.png" alt="">
                                <div class="rightofcdiv">
                                    <h2 class="coursetitle">DATA SCIENCE</h2>
                                    <p>Are you into data science? Are you not really interested in how things look on
                                        the front end
                                        but love the manipulation of data? Data Science is for you.</p>
                                    <p>Pretium nunc blandit felis ut sed. Commodo tortor gravida sodales eget. A a
                                        feugiat vel nulla
                                        quam ac. Orci lectus ornare mi quisque. Id id quis eu orci, nam arcu sapien amet
                                        bibendum id
                                        cursus rhoncus etiam urna a consequat mauris sit urna dui tempor ipsum vulputate
                                        molestie
                                        sit urna fringilla pellentesque rhoncus at egestas et id ultrices sollicitudin
                                        interdum at
                                        massa dolo vitae enim.</p>
                                    <p>We offer virtual and in-person classes on the following skills-</p>
                                    <ul class="courseul">
                                        <div class="coursebullets">
                                            <li>AWS</li>
                                            <li>SQL</li>
                                            <li>Text Mining</li>
                                            <li>Blockchain</li>
                                        </div>
                                        <div class="coursebullets">
                                            <li>Internet of Things (IoT)</li>
                                        </div>
                                    </ul>
                                    <button class="learnbutton">Learn More</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <a class="top-link show" href="" id="js-top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
            <path d="M12 6H0l6-6z" />
        </svg>
        @* <span class="screen-reader-text">BACK TO TOP</span> *@
    </a>



</body>

</html>