<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/laelynn/login.css">
    <title>Document</title>
</head>
@model LoginUser

<body>
    <header>

    </header>
    <main>
        <div class="login-box">
            <h2>LOG IN</h2>
            <form action="/login" method="Post">
                <div class="user-box">
                    <input type="text" asp-for="LoginEmail">
                    <label asp-for="LoginEmail">Email</label>
                    <span class="val" asp-validation-for="LoginEmail"></span>
                </div>
                <div class="user-box">
                    <input type="password" asp-for="LoginPassword">
                    <label asp-for="LoginPassword">Password</label>
                    <span class="val" asp-validation-for="LoginPassword"></span>
                </div>
                <button>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Login
                </button>
            </form>
        </div>
        <div>
            <h3 class="signup">Not a Student Yet? <a class="signupa" href="/codepink/laelynn#SignupForLaelynn">Sign
                    Up</a></h3>
            <a href="/"><img class="logo" src="~/images/laelynnimages/laelynnlogo.png" alt=""></a>
        </div>
    </main>
</body>

</html>
