@* <div class="girlswehelped">
      <div class="container relative z-top">
        <div class="mid-maker">
          <h2 class="big-h2">
            Shop and join a network of over <span class="purple">500K</span> girls helping other girls.
          </h2>
          <div class="max-500">
            <p>
              We have it all. Tech. Cute Desk Accessories. Rubber Duckies. Plus, we have Apple and PC Products. When you pruchase a product from us, we give a product to one of our students.
            </p>
          </div>
          <a
            href="/codepink/shop"
            target="_blank"
            class="button-gradient float w-inline-block"
            ><div>SHOP OUR PRODUCTS</div></a
          >
        </div>
      </div>
      <div class="thumbnails">
        <div class="gradient-black"></div>
        <div
          data-w-id="a06be753-91dc-8230-d4be-bfa76abbe28e"
          class="thumbnail-wrapper top"
        >
          <img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba57390ed0dd20caf5c56b_Mask%20Group-5.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba573968f67b08b33669e2_Mask%20Group-14.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba5739741e7085eb143d58_Mask%20Group.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba573961699574e8377510_Mask%20Group-2.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba5739e5e1d868067573d3_Mask%20Group-3.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba57398b0fccf216049d8a_Mask%20Group-12.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba57398b0fccf216049d8a_Mask%20Group-12.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          />
        </div>
        <div
          data-w-id="458f4a1d-7293-615a-7666-418797d053c3"
          class="thumbnail-wrapper top"
        >
          <img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba57390ed0dd20caf5c56b_Mask%20Group-5.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba573968f67b08b33669e2_Mask%20Group-14.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba5739741e7085eb143d58_Mask%20Group.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba573961699574e8377510_Mask%20Group-2.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba5739e5e1d868067573d3_Mask%20Group-3.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba57398b0fccf216049d8a_Mask%20Group-12.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba57398b0fccf216049d8a_Mask%20Group-12.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          />
        </div>
        <div
          data-w-id="1f7c1046-4a36-8acc-3073-16858134ef2e"
          class="thumbnail-wrapper down"
        >
          <img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba5739faee58248c3d485e_Mask%20Group-8.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba57399f76846e87802d34_Mask%20Group-1.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba57399f76846e87802d34_Mask%20Group-1.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba5739a8f88aee231edac2_Mask%20Group-10.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba5739ec0945c3d58fd1db_Mask%20Group-6.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba57390ed0dd20caf5c56b_Mask%20Group-5.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          /><img
            src="https://assets.website-files.com/5fba4a758b057e1a0a183c74/5fba573968f67b08b33669e2_Mask%20Group-14.png"
            loading="lazy"
            alt=""
            class="thumbnail"
          />
        </div>
      </div>
    </div> *@