<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/products/addproduct.css">
    <title>Document</title>
</head>
@model Product

<body>
    <header>
        @await Html.PartialAsync("ProductPartials/_Nav")
    </header>
    <main>
        <div class="middle">
            <h1 class="header">Update product</h1>
            <form class="form" action="/codepink/updateProduct/@Model.ProductId" method="Post">
                <div class="section">
                    <label class="label" asp-for="Name">Product Name :</label>
                    <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
                    <input class="form-control" asp-for="Name">
                </div>
                @* <div class="mb-3">
                    <label asp-for="Category">Category :</label>
                    <span asp-validation-for="Category" class="text-danger font-weight-bold"></span>
                    <input class="form-control" asp-for="Category">
                    </div> *@
                <label class="label" for="category">Category :</label>
                <span asp-validation-for="Category" class="text-danger font-weight-bold"></span>
                <select name="Category" id="Category">
                    <option value="Laptops">Laptops</option>
                    <option value="MonitorsAndDesktops">Monitors & Desktops</option>
                    <option value="Tablets">IPads & Tablets</option>
                    <option value="Earphones">Earphones & Earbuds</option>
                    <option value="Accessories">Tech & Desk Accessories</option>
                    <option value="Furniture">Furniture</option>
                </select>
                <div class="section">
                    <label class="label" asp-for="Price">Price :</label>
                    <span asp-validation-for="Price" class="text-danger font-weight-bold"></span>
                    <input class="form-control" asp-for="Price">
                </div>
                <div class="section">
                    <label class="label" asp-for="Img1">First Image URL :</label>
                    <span asp-validation-for="Img1" class="text-danger font-weight-bold"></span>
                    <input class="form-control" asp-for="Img1">
                </div>
                <div class="section">
                    <label class="label" asp-for="Img2">Second Image URL :</label>
                    <span asp-validation-for="Img2" class="text-danger font-weight-bold"></span>
                    <input class="form-control" asp-for="Img2">
                </div>
                <div class="section">
                    <label class="label" asp-for="Img3">Third Image URL :</label>
                    <span asp-validation-for="Img3" class="text-danger font-weight-bold"></span>
                    <input class="form-control" asp-for="Img3">
                </div>
                <div class="section">
                    <label class="label" asp-for="Img4">Fourth Image URL :</label>
                    <span asp-validation-for="Img4" class="text-danger font-weight-bold"></span>
                    <input class="form-control" asp-for="Img4">
                </div>
                @* <div class="section">
                    <label class="label" asp-for="Img5">Fifth Image URL :</label>
                    <span asp-validation-for="Img5" class="text-danger font-weight-bold"></span>
                    <input class="form-control" asp-for="Img5">
                    </div> *@
                <div class="section">
                    <label class="label" asp-for="Description">Description of product :</label>
                    <span asp-validation-for="Description" class="text-danger font-weight-bold"></span>
                    <input class="form-control" asp-for="Description">
                </div>
                <button class="button-56">Update Product</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="footertop">
            <div class="footertopleft">
                <div id="footerpicrow">
                    <a href="/"><img id="fcplogo" src="~/images/indeximgs/cplogo.png" alt="logo"></a>
                    <a href="/codepink/laelynn"><img id="flaelogo" src="~/images/laelynnimages/laelynnlogo.png"
                            alt="logo"></a>
                </div>
                <p>Code Pink - the Official Store for Girls in Tech. When you get tech from us, we give tech to girls.
                    We belive in giving girls the opportunity to aspire for a fulfilling career in tech.</p>
                <h3>Stay Connected</h3>
                <div class="footersocialicons">
                    <a href="/"><img class="fsociallinks" src="~/images/laelynnimages/fblogo.png" alt=""></a>
                    <a href="/"><img class="fsociallinks" src="~/images/laelynnimages/inlogo.png" alt=""></a>
                    <a href="/"><img class="fsociallinks" src="~/images/laelynnimages/twlogo.png" alt=""></a>
                    <a href="/"><img class="fsociallinks" src="~/images/laelynnimages/belogo.png" alt=""></a>
                </div>
            </div>
            <div class="topfootermiddle">
                <h3 class="footerlinkheader">Links</h3>
                <div class="footmiddlelinks">
                    <div class="footerlinks">
                        <ul>
                            <li class="fmlinks"><a class="fmlinka" href="/">Code Pink</a></li>
                        </ul>
                        <ul>
                            <li class="fmlinks"><a class="fmlinka" href="/">Laelynn</a></li>
                        </ul>
                        <ul>
                            <li class="fmlinks"><a class="fmlinka" href="/">Contact Us</a></li>
                        </ul>
                        <ul>
                            <li class="fmlinks"><a class="fmlinka" href="/codepink/adminlogin">Admin Login</a></li>
                        </ul>
                        <ul>
                            <li class="fmlinks"><a class="fmlinka" href="/">About Us</a></li>
                        </ul>
                    </div>
                    <div class="footerlinks">
                        <ul>
                            <li class="fmlinks"><a class="fmlinka" href="/">Latest News</a></li>
                        </ul>
                        <ul>
                            <li class="fmlinks"><a class="fmlinka" href="/">Careers</a></li>
                        </ul>
                        <ul>
                            <li class="fmlinks"><a class="fmlinka" href="/">Portfolio</a></li>
                        </ul>
                        <ul>
                            <li class="fmlinks"><a class="fmlinka" href="/">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="topfooterright">
                <h3>Subscribe</h3>
                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                <form class="emailform" action="#">
                    <input class="femailinput" type="text" placeholder="Email Address">
                    <button class="emailbutton">&#8662;</button>
                </form>
            </div>
        </div>
        <div class="footerbottom">
            <p id="Copyrightp">Copyright 2023, All Rights Reserved <span>CodePink</span></p>
            <div id="fblinkdiv">
                <a class="fblinks" href="/">Home</a>
                <a class="fblinks" href="/">Terms</a>
                <a class="fblinks" href="/">Privacy</a>
                <a class="fblinks" href="/">Policy</a>
                <a class="fblinks" href="/">Contact</a>
            </div>
        </div>
    </footer>
</body>

</html>