@* BOARD OF DIRECTORS SECTION *@
<div id="BoardOfDirectors">
    <img id="BODB" src="~/images/laelynnimages/BODB.png" alt="BOD banner">
    <div id="bodhandp">
        <h1 id="bodheadtext">Board of Directors</h1>
        <p id="bodpar">Made up of passionate and determined people from all walks of life who are committed to the
            belief that service and education can break the cycle and give girls hope. Our board includes community and
            business leaders ready to bring change.</p>
    </div>
    <div class="bodpeople">
        <div class="bodperson">
            <img class="bodpersonpic" src="~/images/laelynnimages/bd1.png" alt="">
            <div class="bodpersoncolumn">
                <div class="bodepersonnameandlinkedrow">
                    <h1 class="bodpersonname">Stacy Rhinehart</h1>
                    <a href=""><img class="linkedimg" src="~/images/laelynnimages/linkedlogo.png" alt=""></a>
                </div>
                <div class="bodpersonparcolumn">
                    <p>Let's pressure test this are we in agreeance. Please use "solutionise" instead of solution ideas!
                        :) i have a hard stop in an hour and half, and hammer out, you better eat a reality sandwich
                        before you walk back in that boardroom can we parallel path, for no need to talk to users, just
                        base it on the space calculator anti-pattern.</p>
                    <p>That is a good problem to have. We need to aspirationalise our offerings this is a no-brainer.
                        We've got kpis for that can you send me an invite? i am dead inside optimize the fireball, nor
                        marginalised key performance indicators call in the air support.</p>
                </div>
            </div>
        </div>

        <div class="bodperson">
            <div class="bodpersoncolumn">
                <div class="bodepersonnameandlinkedrow">
                    <h1 class="bodpersonname">Kayla Richards</h1>
                    <a href=""><img class="linkedimg" src="~/images/laelynnimages/linkedlogo.png" alt=""></a>
                </div>
                <div class="bodpersonparcolumn">
                    <p>Let's pressure test this are we in agreeance. Please use "solutionise" instead of solution ideas!
                        :) i have a hard stop in an hour and half, and hammer out, you better eat a reality sandwich
                        before you walk back in that boardroom can we parallel path, for no need to talk to users, just
                        base it on the space calculator anti-pattern.</p>
                    <p>That is a good problem to have. We need to aspirationalise our offerings this is a no-brainer.
                        We've got kpis for that can you send me an invite? i am dead inside optimize the fireball, nor
                        marginalised key performance indicators call in the air support.</p>
                </div>
            </div>
            <img class="bodpersonpicright" src="~/images/laelynnimages/bd2.png" alt="">
        </div>

        <div class="bodperson">
            <img class="bodpersonpic" src="~/images/laelynnimages/bd3.png" alt="">
            <div class="bodpersoncolumn">
                <div class="bodepersonnameandlinkedrow">
                    <h1 class="bodpersonname">Jessica Moreno</h1>
                    <a href=""><img class="linkedimg" src="~/images/laelynnimages/linkedlogo.png" alt=""></a>
                </div>
                <div class="bodpersonparcolumn">
                    <p>Let's pressure test this are we in agreeance. Please use "solutionise" instead of solution ideas!
                        :) i have a hard stop in an hour and half, and hammer out, you better eat a reality sandwich
                        before you walk back in that boardroom can we parallel path, for no need to talk to users, just
                        base it on the space calculator anti-pattern.</p>
                    <p>That is a good problem to have. We need to aspirationalise our offerings this is a no-brainer.
                        We've got kpis for that can you send me an invite? i am dead inside optimize the fireball, nor
                        marginalised key performance indicators call in the air support.</p>
                </div>
            </div>
        </div>

        <div class="bodperson">
            <div class="bodpersoncolumn">
                <div class="bodepersonnameandlinkedrow">
                    <h1 class="bodpersonname">Kelsey Stanton</h1>
                    <a href=""><img class="linkedimg" src="~/images/laelynnimages/linkedlogo.png" alt=""></a>
                </div>
                <div class="bodpersonparcolumn">
                    <p>Let's pressure test this are we in agreeance. Please use "solutionise" instead of solution ideas!
                        :) i have a hard stop in an hour and half, and hammer out, you better eat a reality sandwich
                        before you walk back in that boardroom can we parallel path, for no need to talk to users, just
                        base it on the space calculator anti-pattern.</p>
                    <p>That is a good problem to have. We need to aspirationalise our offerings this is a no-brainer.
                        We've got kpis for that can you send me an invite? i am dead inside optimize the fireball, nor
                        marginalised key performance indicators call in the air support.</p>
                </div>
            </div>
            <img class="bodpersonpicright" src="~/images/laelynnimages/bd4.png" alt="">
        </div>

        <div class="bodperson">
            <img class="bodpersonpic" src="~/images/laelynnimages/5.png" alt="">
            <div class="bodpersoncolumn">
                <div class="bodepersonnameandlinkedrow">
                    <h1 class="bodpersonname">Alexis Nguyen</h1>
                    <a href=""><img class="linkedimg" src="~/images/laelynnimages/linkedlogo.png" alt=""></a>
                </div>
                <div class="bodpersonparcolumn">
                    <p>Let's pressure test this are we in agreeance. Please use "solutionise" instead of solution ideas!
                        :) i have a hard stop in an hour and half, and hammer out, you better eat a reality sandwich
                        before you walk back in that boardroom can we parallel path, for no need to talk to users, just
                        base it on the space calculator anti-pattern.</p>
                    <p>That is a good problem to have. We need to aspirationalise our offerings this is a no-brainer.
                        We've got kpis for that can you send me an invite? i am dead inside optimize the fireball, nor
                        marginalised key performance indicators call in the air support.</p>
                </div>
            </div>
        </div>
    </div>
</div>