@* *IMAGE SLIDER START *@
<div id="imgsliderdiv">
    <div class="slider">
        <div class="slide active">
            <video class="myvideo" src="~/videos/slide1vid.mp4" autoplay muted loop></video>
        </div>
        <div class="slide">
            @* <div id="s2info">
                <h2 id="weare" class="textoverpic">We are</h2>
                <p id="thecycle" class="textoverpic"><span id="breaking">BREAKING</span> THE CYCLE</p>
                <p id="generationalpoverty" class="textoverpic">OF GENERATIONAL POVERTY</p>
                <p id="empowering" class="textoverpic">Empowering the next generation of girls to explore opportunities and
                careers in STEM.</p>
                <a href="/"><img id=breakbtn src="~/images/laelynnimages/brkthecycle.png" alt="button"></a>
                </div> *@
            <video class="myvideo" src="~/videos/s1vid.mp4" autoplay muted loop></video>
        </div>
        <div class="slide">
            <img class="slideimg" src="~/images/laelynnimages/slide3.png" alt="">
        </div>
        <div class="slide">
            <img class="slideimg" src="~/images/laelynnimages/sld4.png" alt="">
        </div>
        <div class="slide">
            <img class="slideimg" src="~/images/laelynnimages/sld5.png" alt="">
        </div>
        <div class="navigation">
            <i class="fas fa-chevron-left prev-btn"></i>
            <i class="fas fa-chevron-right next-btn"></i>
        </div>
        <div class="navigation-visibility">
            <div class="slide-icon active"></div>
            <div class="slide-icon"></div>
            <div class="slide-icon"></div>
            <div class="slide-icon"></div>
            <div class="slide-icon"></div>
        </div>
    </div>
</div>