<link rel="stylesheet" href="~/css/laelynn/laelynn.css">
<nav id="laenav">
    <a href="#OurMission">OUR VALUES</a>
    <a href="#WhatWeDo">WHAT WE DO</a>
    <a href="#ProgramsAndCourses">PROGRAMS & COURSES</a>
    <a href="#laelynnreviews">REVIEWS</a>
    <a href="#HelpForms">HOW TO HELP</a>
    <a href="#SignUpForLaelynn">SIGN UP</a>
</nav>