<link rel="stylesheet" href="~/css/laelynn/laelynn.css">
<nav id="laenav">
    <a href="#ourmission">OUR VALUES</a>
    <a href="#whatwedo">WHAT WE DO</a>
    <a href="#programsandcourses">PROGRAMS & COURSES</a>
    <a href="#laelynnreviews">REVIEWS</a>
    <a href="#howtohelp">HOW TO HELP</a>
    <a href="#signupforlaelynn">SIGN UP</a>
</nav>