<div id="OurMission">
    <h1 ID="ovh">OUR VALUES</h1>
    <div class="ourvalues">
        <div class="valrow" data-aos="fade-up">
            <div class="valcol">
                <img class="valphoto" src="~/images/laelynnimages/val1.png" alt="value">
                <h1 class="missionword">AWARENESS</h1>
            </div>
            <div class="valcol">
                <img class="valphoto" src="~/images/laelynnimages/val4.png" alt="value">
                <h1 class="missionword">OPPORTUNITY</h1>
            </div>
        </div>
        <div class="valrow" data-aos="fade-up">
            <div class="valcol">
                <img class="valphoto" src="~/images/laelynnimages/val2.png" alt="value">
                <h1 class="missionword">PROFESSIONALISM</h1>
            </div>
            <div class="valcol">
                <img class="valphoto" src="~/images/laelynnimages/val3.png" alt="value">
                <h1 class="missionword">EXCELLENCE</h1>
            </div>
        </div>
    </div>
</div>