<div id="WhatWeDo">
    @* <h1 class="wwdhead">WHAT WE DO</h1> *@
    <img class="wwdimg" data-aos="fade-up" src="~/images/laelynnimages/learn.png" alt="">
    <p>Chocolate bar carrot cake chocolate cupcake donut jelly beans sesame snaps. Muffin lemon drops muffin pudding
        cheesecake. Jelly-o jelly cake tootsie roll cotton candy oat cake. Tootsie roll ice cream marzipan candy
        gingerbread gummies chocolate. Macaroon pastry tootsie roll gummi bears ice cream halvah oat cake. Dessert cake
        jelly beans apple pie icing cupcake. Lemon drops fruitcake dragée carrot cake muffin donut muffin sweet roll
        cheesecake. Pastry wafer gummi bears brownie chupa chups.</p>
</div>